.containerCalculadora{
    border: blue 2px solid;
    display: flex;
    width: 100%;
}

.SelectorArl{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 1%;
    
}
.contenidoParrafo{
    width: 50%;
    margin: 3%;
}
.contenidoBotones-Tabla{
    width: 50%;
    margin: 3%;
}
.inputParaSalario{
    text-align: center;
    margin: 1%;
}

.inputParaOtrosIngresos{
    text-align: center;
    margin: 1%;
}

.contenidoBotones{
    text-align: center;
    margin: 1%;
}

.MuiTableContainer-root{
    margin: 3%;
}