
.table-responsive-md{
    width:100%
}

.table>:not(:last-child)>:last-child>*{
    width: 50%;
}

.MuiTableHead-root{
    background-color:#3f51b5;
}

.MuiTableCell-root.MuiTableCell-body.MuiTableCell-sizeSmall{
    font-size: 20px;
}